:root {
    --donation: 0%;
}

body {
    background-color: beige;
}

#toggle-nav div {
    width: 25px;
    height: 5px;
    background-color: aquamarine;
    margin: 6px 0px;
}

#ball {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: blueviolet;
    position: absolute;
}

.bounce {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

#ball-section {
    background-color: black;
    position: relative;
    min-width: 200px;
    min-height: 300px;
}

.section {
    margin: 40px;
    background-color: azure;
}

@keyframes bounce {
    0% {
        background: red;
        top: 0px;
        left: 0px;
    }
    25% {
        background: orange;
        left: 80px;

    }
    50% {
        background: green;
        top: 200px;
    }
    75% {
        background: blue;
    }
    100% {
        background: blueviolet;
        top: 0px;
        left: 0px;
    }
}

/* Donation */
#donations {
    padding: 10px;
}

#thermometer {
    width: 25%;
    height: 200px;
    margin-right: 10%;
    border: 1px solid black;
    background: linear-gradient(0deg, red var(--donation), white var(--donation));

   /*Regular Linear Gradient background: linear-gradient(0deg, pink 0%, blue 50%, yellow 100%); */
}






#main-header {
    background:#00CED1;
    border-radius:5px;
    position:relative;
}

#toggle-nav {
    position:absolute;
    top:15px;
    right:15px;
}
#toggle-nav div {
    width:25px;
    height:2px;
    background-color:white;
    margin:6px 0;
}

nav ul {
    padding-left:0;     /* Remove indentation */
}

nav li {
    list-style-type:none;   /* Remove bullet */
    background:#90e0ef;
    padding:5px;
}

nav li:not(:last-child) {
    border-bottom:1px solid white;;
}

nav a {
    text-decoration: none;  /* Remove underline */
    color:white;
}


@media (min-width: 600px) {

    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

    .six {
        flex: 6;
    }

    .hide-small {
        display: flex;
    }

    #toggle-nav div {
    display: none;
    }

}