@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --main-color: #2C3E50;
    --secondary-color: #435d77;
    --what-card-color: #a68a64;
}

body {
    font-family: 'Quantico', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    color: #fff;
}

/* Hero */

#hero {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    position: relative;
}

#hero-image {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}

#btn-select-country {
    background: rgba(33, 158, 188, 0.7);
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 3px solid var(--main-color);

    text-align: center;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Quantico', sans-serif;

    position: absolute;
    top: 30%;
    right: 35%;
}

#search-country {
    height: 20px;
    width: 325px;
    position: absolute;
    top: 30%;
    right: 35%;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

/* Navigation */

#nav-title {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 0 15px;
}

#logo {
    width: 75px;
    max-width: 75px;
    margin-left: 10px;
    padding: 0;
}

#main-nav li {
    text-align: right;
    margin-right: 50px;
    padding: 20px;
    font-size: 20px;
}

#main-nav li:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

#main-nav a {
    color: #fff;
    text-decoration: underline;
}

/* Structure */

.feature-card {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid white;

    text-align: center;
}

.feature-card h2 {
    font-size: 20px;
}

.feature-icon {
    width: 60px;
    height: 50px;
}

.feature-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-card {
    background-color: var(--what-card-color);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid white;
    text-align: center;
}

#about-atlas-text {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

#about-atlas-header {
    text-align: center;
    text-decoration: underline;
    color: white;
}

#about-atlas-list {
    list-style-type: none;
}

#about-atlas-list li::before {
    content: "\2713";
    margin-right: 15px;
    color: #9be59b;
}

#how-it-works-header {
    text-align: center;
    text-decoration: underline;
    color: white;
}

#how-it-works {
    text-align: center;
    background-color: var(--secondary-color);
    border: 2px solid white;
    border-radius: 80px;
    margin: 10px;
}

#how-it-works p {
    padding: 20px;
}

.research-tile {
    background-color: var(--what-card-color);
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    text-align: center;
}

#customer-review {
    background-color: var(--secondary-color);
    border: 2px solid white;
    border-radius: 80px;
    margin: 10px;
}

#customer-headshot {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
}

#customer-review-text {
    padding: 5px 20px 0px 20px;
}

#customer-name {
    padding-left: 20px;
}

#footer-title {
    color: white;
    padding: 10px;
    margin: 0px;
}

#footer-logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    padding: 10px;
}

#main-footer li {
    text-align: right;
    margin-right: 50px;
    padding: 20px;
    font-size: 20px;
}

#main-footer li:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

#main-footer a {
    color: #fff;
    text-decoration: underline;
}

@media (min-width: 786px) { 
    .columns {
        display: flex;
    }

    .half {
        flex: .5;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
        
    }

    .four {
        flex: 4;
    }

    #main-nav {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    #main-nav ul {
        list-style-type: none;
        display: flex;
        justify-content: right;
        width: auto;
        margin-left: auto;
    }

    #main-footer {
        background-color: var(--main-color);
        margin: 0px;
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #main-footer ul {
        list-style-type: none;
        display: flex;
        justify-content: right;
        width: auto;
        margin-left: auto;
    }
}