@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --main-color: #2C3E50;
    --secondary-color: #435d77;
}

body {
    font-family: 'Quantico', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    color: #fff;
}

/* Hero */

#hero {
    max-width: 1100px;
    margin: 0 auto;
    padding: 12px;
    background-color: var(--main-color);
}

#hero-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    border: 4px solid var(--secondary-color);
    border-radius: 8px;
}

/* Navigation */

#main-nav {
    position: relative;
    justify-content: left;
    align-items: center;
    height: 50px;
    padding: 20px;
}

#nav-title {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    text-wrap: nowrap;
}

#logo {
    width: 75px;
    max-width: 75px;
    margin-left: 70px;
    padding: 0px;
    position: absolute;
}

#main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    width: 100%;
}

#main-nav li {
    text-align: right;
    margin-right: 50px;
    padding: 20px;
}

#main-nav li:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

#main-nav a {
    color: #fff;
    text-decoration: underline;
}



@media (min-width: 786px) { 
    .columns {
        display: flex;
    }

    .half {
        flex: .5;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
        
    }

    .four {
        flex: 4;
    }

    #main-nav {
        display: flex;
    }

}