/* Structure*/
body {
    background: beige;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */

#assignments-list a {
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background: darkgray;
    color: black;
    font-weight: bold;
}

#assignments-list a:hover {
    background: lightblue
}

/* Assignments */
#assignments-header {
    text-align: center;
    text-decoration: underline;
    color: black;
}

#assignments-list ol {
    padding-left: 0px;
}

#assignments-list li {
    list-style-type: none;
    margin: 10px;
    text-align: center;
    background: lightgrey;
}

#assignments-list img {

    margin: 10px;
}

.assignment-section {
    background: lightgrey;
    margin: 5px;
    border-radius: 10px;
}

.assignment-section img {
    margin: 10px;
    padding: 2px;
    border: 2px solid black;
}

.assignment-section a {
    display: block;
    margin: 10px;
    
}

.assignment-description {
    margin: 10px;
    color: black;
    text-align: center;
    padding-bottom: 10px;
}

#assignments-list ul{
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
}

/* Projects */

#projects-header {
    text-align: center;
    text-decoration: underline;
    color: black;
}

#projects-list ol {
    padding-left: 0px;
}

#projects-list li {
    list-style-type: none;
    margin: 10px;
    text-align: center;
    background: lightgrey;
}

#projects-list img {
    margin: 10px;
}

.projects-section {
    background: lightgrey;
    margin: 5px;
    border-radius: 10px;
}

.projects-section img {
    margin: 10px;
    padding: 2px;
    border: 2px solid black;
}

.projects-section a {
    display: block;
    margin: 10px;
    
}

.projects-description {
    margin: 10px;
    color: black;
    text-align: center;
    padding-bottom: 10px;
}

#projects-list ul{
    padding-left: 0px;
}

#projects-list a {
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background: darkgray;
    color: black;
    font-weight: bold;
}

#projects-list a:hover {
    background: lightblue
}


/* Images */




/*Tables
table {
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: darkolivegreen;
}
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: olive;
}
*/

/* Typography */
h1 {
    color: black;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: black;
    font-weight: bold;
}

p {
    color: black;
}




@media (min-width: 600px) { 
    .columns {
        display: flex;
    }

    .half {
        flex: .5;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
        
    }

    .four {
        flex: 4;
    }

    #assignments-list ul {
        display: flex;
        
    }
}