:root {
    --background: #da7603;
    --text-1: white;
    --text-2: black;
    --section-background: darkgray;
    --footer-bg-color: #6f1d1b;
}

body {
    background-color: var(--background);
}

/* Center columns (keeps buttons side-by-side and centered) */

/* Typography */
#main-title {
    color: var(--text-1);
    text-align: center;
}

#main-subtitle {
    color: var(--text-2);
    text-align: center;
}

/* Small Nav */

#main-nav {
    visibility: hidden;
}

#small-nav.invisible-2 {
    display: none;
}

#small-nav.visible-2 {
    display: block;
}

.small-nav-exercise-select {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.small-nav-exercise-select:hover {
    background-color: var(--text-1);
    padding: 5px;
    border-radius: 15px;
}

#nav-logo-up {
    background: transparent;
    font-size: 30px;
    border: none;
}

#nav-logo-up:hover {
    cursor: pointer;
}

#nav-logo-down {
    background: transparent;
    font-size: 30px;
    border: none;
}

#nav-logo-down:hover {
    cursor: pointer;
}

/* Minutes */

.tile {
    background-color: var(--section-background);
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    border: var(--text-2) 2px solid;
}

.section-text {
    font-size: 15px;
    color: var(--text-1);
}
/* Footer */

#main-footer {
    background-color: var(--footer-bg-color);
    color: var(--text-1);
    display: block;
    padding: 3px;
    border: black 2px solid;
    text-align: center;

    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
}

#main-footer ul {
    list-style-type: none;
}

#main-footer a {
    text-decoration: none;
    color: var(--text-1);
}

.invisible {
    visibility: hidden;
}

.invisible-2 {
    display: none;
}

.visible {
    visibility: visible;
}

.visible-2 {
    display: block;
}


@media (min-width: 768px) {

    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

    .six {
        flex: 6;
    }

    /* Navigation */

    #nav-logo-up {
        display: none;
    }

    #nav-logo-down {
        display: none;
    }

    #small-nav {
        display: none !important;
    }

    .exercise-select {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .exercise-select:hover {
        background-color: var(--text-1);
        padding: 5px;
        border-radius: 15px;
    }

    #main-nav {
        visibility: visible;
    }

    #main-header .columns {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}