/* Structure */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e9d8a6;
    
}

#main-title {
    color:#ae2012;
    text-align: center;
    text-decoration: underline;
}

#sec-1-img {

}

#right-side-section-1 { /* trying to center image and text vertically for <600px*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation */

#main-nav ul {
    padding-left: 0px; /*Pushes Nav Bar to the left edge*/
}

#main-nav li {
    list-style-type: none; /*Removes Bullets from List Items*/
    background: #ca6702;
    padding: 5px;
    border: black 1px solid;
    text-align: center; /*Centers Text in Nav Items*/
}

#main-nav li:hover {
    background: #ee9b00;
}

#main-nav a {
    text-decoration: none; /*Removes Underline from Links*/
    color: white;
}

#img-header {
    text-align: center;
    background-color: #005f73;
    padding: 2px;
    margin: 4px;
}

/* Typography */

#large-txt-section {
    background: #005f73;
}

/* Footer */

#main-footer {
    background: #ca6702;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}







@media (min-width: 600px) {

    .columns {
        display: flex;
    }

    .half {
        flex: .5;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
        
    }

    .four {
        flex: 4;
    }

    #main-nav li {
        flex: 1;
    }

    #sec-1-img {
        margin: 5px;
    }

    #main-nav ul {
        display: flex;
    }

    /* Left Oriented Idea Section */

    #second-section {
        margin: 5px;
    }

    #right-oriented-section {
        margin: 5px;
    }



    #small-img-section {
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    #large-txt-section {
        margin: 0px;
        padding: 12px;
    }

    #large-txt-section p {
        margin: 0px;
        padding-left: 0px;
        text-align: left;
    }

    #large-txt-section h4 {
        margin: 0px;
        font-weight: bold;
        color: white;
        text-align: left;
    }

}