/* Structure */
body {
    font-family: Berlingske;

    margin: 0px;
    padding: 0px;

}








@media (min-width: 768px) {
    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

    .six {
        flex: 6;
    }

    #top-header {
    color: black;
    position: relative;
    }

#header-title {
    margin: 0px;
    padding: 0px;

    color: white;
    text-align: right;
    font-weight: bold;
    font-size: 36px;

    position: absolute;
    bottom: 25px;
    right: 20px;
}

#main-content {
    position: relative;
}

.blurb {
    background-color: maroon;
    height: 288px;
    width: 572px;
    text-align: left;
    text-wrap: normal;
    padding-left: 50px;
    color: white;
}

#blurb-1 {
    position: absolute;
    top: 1150px;
    right: 40px;
}

#blurb-3 {
    position: absolute;
    top: 3450px;
    left: 40px;
}

.blurb h2 {
    font-weight: bold;
    font-size: 30px;

    margin-top: 50px;
    margin-bottom: 5%;

}

.blurb p {
    padding-bottom: 5%;
    margin-top: 10px;
    padding-right: 80px;
}

.blurb a {
    padding: 15px;
    background-color: black;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

.blurb a:hover {
    background-color: white;
    color: black;
}

#student-spotlight {
    background-color: white;
    padding: 60px 0px 0px 0px;
    height: 400px;
}

#student-photo {
    max-width: 300px;
    max-height: 300px;
    border-radius: 700px;
    margin-left: 80px;
}

#student-quote {
    margin-left: 50px;
    margin-right: 200px;

    color: maroon;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

#student-info {
    margin-left: 50px;
    color: black;
    font-size: 20px;
}

.blurb-2 {
    background-color: maroon;
    height: 288px;
    width: 572px;
    text-align: left;
    text-wrap: normal;
    padding-left: 50px;
    color: white;

    position: absolute;
    top: 2200px;
    left: 40px;
}

.blurb-2 h2 {
    font-weight: bold;
    font-size: 30px;

    margin-top: 50px;
    margin-bottom: 5%;

}

.blurb-2 p {
    padding-bottom: 5%;
    margin-top: 10px;
    padding-right: 80px;
}

.blurb-2 a {
    padding: 15px;
    background-color: black;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

#main-footer {
    background-color: maroon;
    padding: 15px;
}

/* Typography */



.black-footer ul{
    display: flex;
    padding: 10px;
    margin: 0px;
    background-color: black;
    list-style-type: none;
    border-top: 1px white solid;
}

.black-footer li {
    margin: 10px;
}

.black-footer a {
    color: white;
    text-decoration: none;
}

.black-footer a:hover {
    background-color: red;
}

#black-footer-list li:not(:last-child)::after {
    margin-left: 10px;
    color: white;
    content:"|";
}

.footer-link a{
    color: white;
    text-decoration: none;
}

.footer-link a:hover {
    background-color: red;
}

.footer-link li {
    padding-bottom: 25px;
}

.footer-link ul{
    padding-left: 0px;
    list-style-type: none;
}

.footer-link-2 {
    padding-bottom: 50px;
}

.footer-title {
    color: white;
    font-weight: bolder;
    font-size: 20px;

    margin-bottom: 2px;
}

.footer-hr {
    margin-right: 20px;
}


#address {
    text-align: left;
    font-size: 15px;
    margin-right: 10px;
}

#bottom-socials {
    display: flex;
    flex-direction: column;
}

#first-quote {
    background-color: white;
    color: black;

    text-align: center;
    font-size: 30px;
    font-weight: bold;

    word-wrap: normal;
    
    /*Top Right Bottom Left*/
    padding: 10px 30px 10px 30px;
}

#home-page-button {
    text-decoration: none;
    color: maroon;
    font-size: 30px;

    padding-left: 10px;
}

#home-page-button:hover {
    text-decoration: underline;
}

.bottom-pages {
    color: maroon;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#bottom-page {
    background-color: lightgrey;
}



#bottom-page-1 {
    padding-top: 40px;
    background-color: lightgray;
}

#bottom-page-2 {
    padding-bottom: 80px;
}

#bottom-title {
    text-align: center;
    color: maroon;
    font-size: 60px;
}

#bottom-desc {
    text-align: center;
    color: black;
    font-size: 20px;
}

/* Images */
#header-logo {
    max-width: 200px;
    max-height: 39.8px;

    margin-left: 20px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

.content-image {
    width: 100%;
    height: 600px;
}

#last-image {
    margin-bottom: 60px;
}

.fa {
  padding-top: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

#footer-logo {
    max-width: 300px;
    max-height: 60px;
}

/* Buttons */

.red-button {
    background-color: maroon;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
}

.red-button:hover {
    background-color: black;
}

.tile {
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.tile button {
    border: 0px;
}

.tile button:hover {
    background-color: grey;
}

.tile h3 {
    color: maroon;
    text-align: left;
    font-size: 20px;

    padding-left: 5px;
}

.tile p {
    color: black;
    text-align: left;

    padding-left: 5px;
}

/* Navigation */
#top-header {
    background-color: black;
    margin: 0px;
}

#small-nav {
    display: flex;
}

#small-nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 5px;
}

#small-nav li {
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#small-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

#small-nav a:hover {
    background: red;
}

#small-nav li:not(:last-child)::after {
    margin-left: 10px;
    color: white;
    content:"|";
}

#main-nav {
    background-color: maroon;
}

#main-nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: fit-content;
    float: right;
}

#main-nav li {
    padding: 10px;
    list-style-type: none;
    margin-right: 20px;
}

#main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#first-item {
    text-align: right;
}

#main-nav li:hover{
    background-color: darkgrey;
}

}