/* Structure */
body {
    font-family: Berlingske;

    margin: 0px;
    padding: 0px;
}

#top-header {
    color: black;
    position: relative;
}

#header-title {
    margin: 0px;
    padding: 0px;

    color: white;
    text-align: right;
    font-weight: bold;
    font-size: 36px;

    position: absolute;
    bottom: 25px;
    right: 20px;
}

#main-content {
    position: relative;
}

.blurb {
    background-color: maroon;
    height: 288px;
    width: 572px;
    text-align: left;
    text-wrap: normal;
    padding-left: 50px;
    color: white;

    position: absolute;
    top: 1150px;
    right: 40px;
}

.blurb h2 {
    font-weight: bold;
    font-size: 30px;

    margin-top: 50px;
    margin-bottom: 5%;

}

.blurb p {
    padding-bottom: 5%;
    margin-top: 10px;
    padding-right: 80px;
}

.blurb a {
    padding: 15px;
    background-color: black;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

#student-spotlight {
    background-color: white;
    padding: 60px 0px 0px 0px;
    height: 400px;
}

#student-photo {
    max-width: 300px;
    max-height: 300px;
    border-radius: 700px;
    margin-left: 80px;
}

#student-quote {
    margin-left: 50px;
    margin-right: 200px;

    color: maroon;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

#student-info {
    margin-left: 50px;
    color: black;
    font-size: 20px;
}

.blurb-2 {
    background-color: maroon;
    height: 288px;
    width: 572px;
    text-align: left;
    text-wrap: normal;
    padding-left: 50px;
    color: white;

    position: absolute;
    top: 2200px;
    left: 40px;
}

.blurb-2 h2 {
    font-weight: bold;
    font-size: 30px;

    margin-top: 50px;
    margin-bottom: 5%;

}

.blurb-2 p {
    padding-bottom: 5%;
    margin-top: 10px;
    padding-right: 80px;
}

.blurb-2 a {
    padding: 15px;
    background-color: black;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

/* Typography */

#first-quote {
    background-color: white;
    color: black;

    text-align: center;
    font-size: 30px;
    font-weight: bold;

    word-wrap: normal;
    
    /*Top Right Bottom Left*/
    padding: 10px 30px 10px 30px;
}

/* Images */
#header-logo {
    max-width: 200px;
    max-height: 39.8px;

    margin-left: 20px;
    margin-bottom: 20px;
}

.content-image {
    width: 100vw;
    height: 600px;
}

/* Navigation */
#top-header {
    background-color: black;
    margin: 0px;
}

#small-nav {
    display: flex;
}

#small-nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 5px;
}

#small-nav li {
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#small-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

#small-nav a:hover {
    background: red;
}

#small-nav li:not(:last-child)::after {
    margin-left: 10px;
    color: white;
    content:"|";
}

#main-nav {
    background-color: maroon;
}

#main-nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    
}

#main-nav li {
    padding: 10px;
    list-style-type: none;
    margin-right: 20px;
}

#main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#first-item {
    text-align: right;
}

#main-nav li:hover{
    background-color: darkgrey;
}






@media (min-width: 768px) {
    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }
}