/* Main Structure */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #a68a64;
}

#main-header {
    background: #faedcd;
    margin: auto; /*Centering*/
}

#content {
    
    width: 100%;
    
}

#main-footer {
    
}

/*Gallery*/

#gallery section {
    background: lightslategray;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;

}

#gallery section h3 {
    text-align: center;
}

/* Navigation */
#main-nav ul {
    padding-left: 0px; /*Pushes Nav Bar to the left edge*/
}

#main-nav li {
    list-style-type: none; /*Removes Bullets from List Items*/
    background: #a3b18a;
    padding: 5px;
    border: black 1px solid;
}

#main-nav a {
    text-decoration: none; /*Removes Underline from Links*/
}

/*Typography */

#main-header h1 {
    text-align: center;
    padding-top: 10px;
}

/*Optimizing for Larger Screens*/
@media (min-width: 600px) {
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    .five {
        flex: 5;
    }
    .six {
        flex: 6;
    }


    #main-nav ul {
        display: flex;
    }

    main-nav ul {
        background: transparent;
    }

    #main-nav a {
        color: darksalmon;
    }

    #main-nav a:hover {
        border-bottom: black 1px solid;
    }
}