body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ded9d4;
}

#main-content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

#main-title {
    margin: 20px 0 10px 0;
    color: #3f3f3f;
}

#fishbowl {
    width: 680px;
    height: 600px;
    margin: 0 auto 20px auto;
    position: relative;
}

#bowl-rim {
    width: 560px;
    height: 56px;
    border: 7px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    left: 60px;
    top: 26px;
    z-index: 3;
}

#bowl-glass {
    width: 620px;
    height: 560px;
    border: 8px solid rgba(255, 255, 255, 0.45);
    border-radius: 48% 48% 44% 44%;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: absolute;
    left: 30px;
    top: 36px;
}

#water {
    width: 100%;
    height: 95%;
    position: absolute;
    bottom: 0;
    border-radius: 48% 48% 28% 28%;
    background: linear-gradient(#83bbe8, #679fd1);
    overflow: hidden;
}

.bubble {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgba(210, 238, 255, 0.75);
    position: absolute;
    bottom: 0%;
    z-index: 2;
    animation-name: rise;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes rise {
    from {
        bottom: 0%; /* 500 Max */
        opacity: 0.8;
    } to {
        bottom: 100%;
        opacity: 1;
    }
}
